packages:
  yum:
    git: []

container_commands:
  01_make_virtualenv:
    command: "virtualenv -p python3 /opt/python/current/app/venv && source /opt/python/current/app/venv/bin/activate && pip install -r /opt/python/current/app/requirements.txt"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: CodingExercise/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: CodingExercise.settings
    "PYTHONPATH": "/opt/python/current/app/CodingExercise:$PYTHONPATH"

  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "CodingExercise/static/"